@import "datatables.net-dt";
@import "https://code.highcharts.com/dashboards/css/dashboards.css";

#root {
  width: 1440px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
}

.filters {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
  > div {
    flex-basis: 100%;
  }
}

.DateRangePicker {
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 4px;
  width: 250px;
  font-size: 14px;

  .react-daterange-picker__wrapper {
    background-color: hsl(0, 0%, 95%);
    color: hsl(0, 0%, 20%);

    .react-daterange-picker__inputGroup {
      text-align: center;
    }
  }
}

.dataTable {
  td {
    white-space: nowrap;
  }
  td[class^="player"] {
    color: hsl(0, 0%, 20%);
  }
  td.win {
    background-color: lightgreen;
  }
  td.lose {
    background-color: lightcoral;
  }
  td.draw {
    background-color: lightyellow;
  }
}
